body {
  /* height: 100%; */
  /* overflow: hidden; */
}

.seat {
  position: absolute;
  width: 50px;
  outline: 1px solid tomato;
}

.seat-5 {
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.seat-4 {
  top: 12%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.seat-6 {
  top: 12%;
  right: 25%;
  transform: translate(50%, -50%);
}
.seat-3 {
  top: 26%;
  left: 15%;
  transform: translate(-50%, -50%);
}
.seat-2 {
  top: 40%;
  left: 12%;
  transform: translate(-50%, -50%);
}
.seat-1 {
  top: 54%;
  left: 15%;
  transform: translate(-50%, -50%);
}
.seat-7 {
  top: 26%;
  right: 15%;
  transform: translate(50%, -50%);
}
.seat-8 {
  top: 40%;
  right: 12%;
  transform: translate(50%, -50%);
}
.seat-9 {
  top: 54%;
  right: 15%;
  transform: translate(50%, -50%);
}

.player-card {
  transition: transform 650ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.player-card:hover {
  transform: scale(1.1) translateY(-15%);
}

.selected-card {
  outline: 2px solid rgb(16, 159, 202);
  transform: translateY(-75%);
}

.selected-card:hover {
  transform: scale(1.1) translateY(-90%);
}
